@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom styles here */
input[type="email"] {
  @apply text-gray-900 bg-white border-gray-300;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
