.chatList {
  flex: 1;
  overflow: scroll;
  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .searchBar {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        font-weight: 500;
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

.profile-container {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 0;
  /* Adjust to align with the profile picture /
   left: -10px; / Move it to the left of the profile image /
   background-color: rgba(255, 255, 255, 0.7);
   border-radius: 50%;
   width: 20px;
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   cursor: pointer;
   visibility: hidden; / Hidden by default /
 }

 / Only show the close button when hovering over the profile image */

  .profile-container:hover .close-btn {
    visibility: visible;
  }
}